@mixin p {
    color: white;
    text-align: center;
    font-size: 0.9rem;
    font-family: $tipografia2;
    text-transform: uppercase;
    margin: 5rem;  
}

@mixin div{
    width: 100%;
    display: grid;
    align-items: center;
    justify-items:center;
    grid-template-columns: auto;
    grid-template-rows: auto;

}
